<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>ABM Modelos</title>
	<meta charset="UTF-8">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->

</head>
<body>
	<div class="container">
		<br>
		<div>
			<a th:href="@{/saveModelo/0}" class="btn btn-primary">Agregar</a>
		</div>
		
		<div>
			<a th:href="@{/}" class="btn btn-primary">Volver Index</a>
		</div>

		<h2 th:if="${#lists.isEmpty(listaModelo)}">No hay vehiculos</h2>
		<div th:if="${not #lists.isEmpty(listaModelo)}">
			<h2>Vehiculos</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Tipo</th>
						<th>Marca</th>
						<th>Modelo</th>
						<th>Año Desde</th>
						<th>Año Hasta</th>
						<th>Editar</th>
						<th>Eliminar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="modelo : ${listaModelo}">
						<td th:text="${modelo.tipoVehiculo.nombre}">
						<td th:text="${modelo.marca.nombre}">
						<td th:text="${modelo.nombre}">
						<td th:text="${modelo.anio_desde}">
						<td th:text="${modelo.anio_hasta}">
						<td><a class="btn btn-info" th:href="@{/saveModelo/{id}(id=${modelo.id})}">Editar</a></td>
						<td><a class="btn btn-danger" th:href="@{/deleteModelo/{id}(id=${modelo.id})}">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>