<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Modelos</title>

<!-- Bootstrap CSS -->
<link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<br>
		<h2>Agregar Modelo</h2>
		<form action="#" th:action="@{/saveModelo}" method="post" th:object="${modelo}">
			<input type="hidden" th:field="*{id}" name="id" id="id">

			<div th:object="${tipos}" class="form-group">
				<label for="tipo_vehiculo">Tipo de vehiculo</label> 
				<select class="form-select" id="tipo_vehiculo" name="tipo_vehiculo">
					<option selected hidden>Tipo de vehiculo</option>
					<option th:each="tipo: ${tipos}" th:value="${tipo}" th:text="${tipo}" th:field="*{nombre}" name="nombre"/>
				</select>
			</div>
			<div th:object="${marcas}" class="form-group">
				<label for="marca">Marca</label>
				<select class="form-select" id="marca" name="marca">
					<option selected hidden>Marca</option>
					<option th:each="marcaS : ${marcas}" th:text="${marcaS}" th:field="*{nombre}" name="nombre"/>
				</select>
			</div>
			<div class="form-group">
				<label for="nombre">Modelo</label> 
				<input type="text" class="form-control" id="nombre" th:field="*{nombre}" name="nombre">
			</div>
			<div class="form-group">
				<label for="anio_desde">Año Desde</label> 
				<input type="number" class="form-control" id="anio_desde" th:field="*{anio_desde}" name="anio_desde">
			</div>
			<div class="form-group">
				<label for="anio_hasta">Año Hasta</label> 
				<input type="number" class="form-control" id="anio_hasta" th:field="*{anio_hasta}" name="anio_hasta">
			</div>
			<div class="form-check">
			  <input class="form-check-input" type="checkbox" value="" id="noSefabricaMasCheckbox" onmousedown="this.form.anio_hasta.disabled=this.checked" checked>
			  <label class="form-check-label" for="noSefabricaMasCheckbox"> No se fabrica mas </label>
			</div>
			<button type="submit" class="btn btn-success">Guardar</button>
		</form>
	</div>
</body>
</html>