<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Cotizacion</title>

	<!-- Bootstrap CSS -->
	<link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>

<body>
	<div class="container">
		<br>

		<div>
			<a th:href="@{/}" class="btn btn-primary">Volver Index</a>
		</div>

		<h2>Cotizacion</h2>
		<table class="table">
			<thead>
				<div class="container">
					<div class="row">
						<div class="col">
							<select class="form-select" id="tipo" name="tipo">
								<option selected hidden>Tipo de vehiculo</option>
								<option th:each="tipo : ${tipos}" th:value="${tipo}" th:text="${tipo}"/>
							</select>
						</div>
						<div class="col">
							<select class="form-select">
								<option selected hidden>Marca</option>
								<option th:each="marca : ${marcas}" th:text="${marca}"/>
							</select>
						</div>
						
						<div class="col">
							<select class="form-select">
								<option selected hidden>Año</option>
								<option th:each="anio : ${anios}" th:text="${anio}"/>
							</select>
						</div>
						<div class="col">
							<select class="form-select">
								<option selected hidden>Modelo</option>
								<option th:each="modelo : ${modelos}" th:text="${modelo}"/>
							</select>
						</div>
					</div>
				</div>
			</thead>
		</table>
	</div>
</body>

</html>