<!DOCTYPE html>
<html lang="es">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Cotizacion</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- MATERIAL DESIGN ICONIC FONT -->
	<link rel="stylesheet" href="../fonts/material-design-iconic-font/css/material-design-iconic-font.css">

	<!-- STYLE CSS -->
	<link rel="stylesheet" href="../css/cotizacion.css">

</head>

<body>

		<div class="wrapper">
			<div class="image-holder">
				<img src="../imgs/form-wizard.png" alt="">
			</div>
			<form th:action="@{/saveCotizacion}" method="post" th:object="${cotizacion}" id="signup-form" class="signup-form">
            	<div id="wizard">
            		<!-- SECTION 1 -->
	                <h4></h4>
	                <section>
	                    <div class="">
							<div class="pregunta">
			                	<h2>¿Es de uso particular?</h2>
    			             	<div class="form-row form-group">
					                <div class="radio">
					                  <label>
					                    <input type="radio" name="uso-particular" value="Sí" id="uso-particular_0" data-descuento="3">
					                    Sí</label>
					                </div>
					                <div class="radio">
					                  <label>
					                    <input type="radio" name="uso-particular" value="No" id="uso-particular_1">
					                    No</label>
					                </div>
					        	</div>
			              	</div>
			              	<div class="pregunta">
				                <h2>¿Tiene alarma?</h2>
				                <div class="form-row form-group">
					                <div class="radio">
					                  <label>
					                    <input type="radio" name="tiene-alarma" value="Sí" id="tiene-alarma_0" data-descuento="2">
					                    Sí</label>
					                </div>
					                <div class="radio">
					                  <label>
					                    <input type="radio" name="tiene-alarma" value="No" id="tiene-alarma_1">
					                    No</label>
					                </div>
					        	</div>    
			              	</div>
							<div class="pregunta">
				                <h2>¿Se guarda en garage?</h2>
				               	<div class="form-row form-group">
					                <div class="radio">
					                  <label>
					                    <input type="radio" name="guarda-garage" value="Sí" id="guarda-garage_0" data-descuento="6">
					                    Sí</label>
					                </div>
					                <div class="radio">
					                  <label>
					                    <input type="radio" name="guarda-garage" value="No" id="guarda-garage_1">
					                    No</label>
					                </div>
								</div>
							</div>
						</div>
						
						
	                </section>
					<!-- SECTION 2 -->
	                <h4></h4>
	                <section>
	                	<div class="pregunta radio-block">
		                	<h2>¿Cuántos KMS manejás al año?</h2>
			                <div class="radio">
			                  	<ul>
						            <li th:each="intervaloKilometros : ${listaIntervaloKilometros}">
						                <input type="radio" th:field="*{datosVehiculo.intervaloKilometros}" th:value="${intervaloKilometros.id}" />
						                <label th:for="${intervaloKilometros.intervalo}" th:text="${intervaloKilometros.intervalo}"></label>
						            </li>
						        </ul>
							</div>						        
						</div>
	                </section>

	                <!-- SECTION 3 -->
	                <h4></h4>
	                <section>
		            	<div>
		                    <!-- pregunta -->
			              	<div class="pregunta radio-block">
				                <h2>Edad</h2>
				                <div class="radio">
					              	<ul>
							            <li th:each="intervaloEdad : ${listaIntervaloEdad}">
							                <input type="radio" th:field="*{datosVehiculo.intervaloEdad}" th:value="${intervaloEdad.id}" />
							                <label th:for="${intervaloEdad.intervalo}" th:text="${intervaloEdad.intervalo}"></label>
							            </li>
							        </ul>
				              </div>
				              <div class="pregunta">
				                <h2>Además de usted, ¿maneja el auto un menor de 25 años?</h2>
				                <div class="form-row form-group">
					                <div class="radio">
					                  <label>
					                    <input type="radio" name="manejan-hijos" value="Sí" id="manejan-hijos_0" data-descuento="-3">
					                    Sí</label>
					                </div>
					                <div class="radio">
					                  <label>
					                    <input type="radio" name="manejan-hijos" value="No" id="manejan-hijos_1">
					                    No</label>
					                </div>
			              		</div>
			              	</div>
						</div>
	                </section>

	                <!-- SECTION 4 -->
	                <h4></h4>

	                
	                <section>
	                    <div class="form-row form-group">
	                    	<div class="form-holder">
	                    		<label for="">
	                    			Nombre
		                    	</label>
	                    		<input type="text" class="form-control" id="nombre" th:field="*{cliente.nombre}" name="nombre">
	                    	</div>
	                    	<div class="form-holder">
	                    		<label for="">
	                    			Apellido
		                    	</label>
								<input type="text" class="form-control" id="apellido" th:field="*{cliente.apellido}" name="apellido">
	                    	</div>
	                    </div>
	                    <label for="">
	                    	Sexo
		                </label>
		             	<div class="form-group" style="margin-bottom: 24px;">
				            <li class="radio" style="display: inline;" th:each="sexo : ${listaSexo}">
				                <input type="radio" th:field="*{datosVehiculo.intervaloEdad}" th:value="${sexo.id}" />
				                <label th:for="${sexo.nombre}" th:text="${sexo.nombre}"></label>
				            </li>
					    </div>
					    <div class="form-row">
	                    	<label for="">
	                    		CUIT/CUIL
	                    	</label>
							<input type="text" class="form-control" id="cuil" th:field="*{cliente.cuil}" name="cuil">	
						</div>
						<div class="form-row">
                            <label for="Fecha de nacimiento" class="form-label">Fecha de Nacimiento</label> 
							<input type="date" class="form-control" id="fechaNacimiento" th:field="*{cliente.fechaNacimiento}" name="fechaNacimiento">
                        </div>
	                    <div class="form-row">
	                    	<label for="">
	                    		Nombre de la empresa (Opcional)
	                    	</label>
							<input type="text" class="form-control" id="empresa" th:field="*{cliente.empresa}" name="empresa">	
	                    </div>	
	                    <div class="form-row">
	                    	<label for="">
	                    		Ciudad
							<input type="text" class="form-control" id="ciudad" th:field="*{cliente.ciudad}" name="ciudad">	
	                    	</label>

	                    <div class="form-row">
	                    	<label for="">
	                    		Provincia
	                    	</label>
							<input type="text" class="form-control" id="provincia" th:field="*{cliente.provincia}" name="provincia">
	                    </div>	
	                    <div class="form-row">
	                    	<label for="">
	                    		Código Postal
	                    	</label>
							<input type="text" class="form-control" id="codigoPostal" th:field="*{cliente.codigoPostal}" name="codigoPostal">
						</div>
	                   <div class="form-row">
	                    	<label for="">
	                    		E-mail
	                    	</label>
							<input type="text" class="form-control" id="email" th:field="*{cliente.email}" name="email">
	                    </div>
	                    <div class="form-row">
	                    	<label for="">
	                    		Celular
	                    	</label>
							<input type="number" class="form-control" id="celular" th:field="*{cliente.celular}" name="celular">
						</div>
	                    <div class="form-row">
	                    	<label for="">
	                    		Comentarios
	                    	</label>
							<input type="text" class="form-control" id="comentarios" th:field="*{cliente.comentarios}" name="comentarios">
	                    </div>
	                </section>
            	</div>
                <button type="submit" style="display:none;"></button>
            </form>
		</div>

		<script src="../vendor/jquery/jquery-3.3.1.min.js"></script>
		
		<!-- JQUERY STEP -->
		<script src="../vendor/jquery/jquery.steps.js"></script>

		<script src="../js/cotizacion.js"></script>
		
<!-- Template created and distributed by Colorlib -->
</body>
</html>