<!DOCTYPE html>
<html lang="es">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Cotizacion</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->

</head>

<body>
	<div class="container">
		<br>

		<div>
			<a th:href="@{/}" class="btn btn-primary">Volver Index</a>
		</div>

		<h2>Cotizacion</h2>
		<table class="table">
			<thead>
				<div class="container">
					<div class="row">
						<div class="col">
							<select class="form-select" id="tipo" name="tipo">
								<option selected hidden>Tipo de vehiculo</option>
								<option th:each="tipo : ${tipos}" th:value="${tipo}" th:text="${tipo}"/>
							</select>
						</div>
						<div class="col">
							<select class="form-select">
								<option selected hidden>Marca</option>
								<option th:each="marca : ${marcas}" th:text="${marca}"/>
							</select>
						</div>
						
						<div class="col">
							<select class="form-select">
								<option selected hidden>Año</option>
								<option th:each="anio : ${anios}" th:text="${anio}"/>
							</select>
						</div>
						<div class="col">
							<select class="form-select">
								<option selected hidden>Modelo</option>
								<option th:each="modelo : ${modelos}" th:text="${modelo}"/>
							</select>
						</div>
					</div>
				</div>
			</thead>
		</table>
	</div>
</body>

</html>