<!DOCTYPE html>
<html lang="es">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Cotizacion</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->

</head>

<body>
	<div class="container">
		<br>

		<div>
			<a th:href="@{/}" class="btn btn-primary">Volver Index</a>
		</div>

		<h2>Cotizacion</h2>
		<form th:action="@{/cotizacion/0}" method="post" th:object="${datosVehiculo}" id="signup-form" class="signup-form">
			<table class="table">
				<thead>
					<div class="container">
						<div class="row">

							<div class="col">
								<select class="form-select" id="tipoVehiculo">
									<option selected hidden>Tipo de vehiculo</option>
									<option th:each="tipoVehiculo : ${listaTipoVehiculo}" th:class="${tipoVehiculo.nombre}" th:text="${tipoVehiculo.nombre}" th:value="${tipoVehiculo.id}"/>
								</select>
							</div>
							
							<div class="col">
								<select class="form-select" id="marca">
									<option selected hidden>Marca</option>
								</select>
							</div>
	
							<div class="col">
								<select class="form-select" id="modelo">
									<option selected hidden th:value="0">Modelo</option>
								</select>
							</div>

							<div class="col">
								<select class="form-select">
									<option selected hidden>Año</option>
									<option th:each="anio : ${anios}" th:value="${anio}" th:text="${anio}"/>
								</select>
							</div>

						</div>
					</div>
				</thead>
				
				<div class="col">
					<button type="submit" class="btn btn-primary">Cotiza</a>
				</div>
						
			</table>
    	</form>
	</div>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="./js/seleccionarVehiculoAjax.js"></script>

</body>
</html>