<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Vehiculos</title>

<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<br>
		<div>
			<a th:href="@{/saveMarca/0}" class="btn btn-primary">Agregar</a>
		</div>
		
		<div>
			<a th:href="@{/}" class="btn btn-primary">Volver Index</a>
		</div>

		<h2 th:if="${#lists.isEmpty(listaMarca)}">No hay marcas</h2>
		<div th:if="${not #lists.isEmpty(listaMarca)}">
			<h2>Marcas</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Marca</th>
						<th>Editar</th>
						<th>Eliminar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="marca : ${listaMarca}">
						<td th:text="${marca.nombre}">
						<td><a class="btn btn-info" th:href="@{/saveMarca/{id}(id=${marca.id})}">Editar</a></td>
						<td><a class="btn btn-danger" th:href="@{/deleteMarca/{id}(id=${marca.id})}">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>