<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Marcas</title>

<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<br>
		<h2>Agregar Marca</h2>
		<form action="#" th:action="@{/saveMarca}" method="post" th:object="${marca}">
			<input type="hidden" th:field="*{id}" name="id" id="id">
			<div class="form-group">
				<label for="marca">Marca</label> 
				<input type="text" class="form-control" id="marca" th:field="*{nombre}" name="marca">
			</div>
			<button type="submit" class="btn btn-success">Guardar</button>
		</form>
	</div>
</body>
</html>